.products {
    margin: 2rem;
}

.products__item {
    padding: 1.2rem;
    height: 100%;
    position: relative;

    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow;

    &--pdf {
        padding: 1rem;
        position: relative;
        margin-top: 3rem;
        margin-left: 5rem;
    }
}

.products__photo {
    border-radius: $radius_sm;
    max-width: 150px;
    height: 150px;

    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}

.products__title {
    margin-top: .3rem;
    padding-left: 11rem;

    font-size: 1.4rem;
    color: $black;
    font-weight: 500;
}

.products__text {
    margin-top: 2rem;
    padding-left: 11rem;

    font-size: 1rem;
    color: $black;
}

.products__text--red {
    color: $red;
}

.col-lg-11 {
    margin-top: 2rem;
}

.products__link {
    font-size: 1.3rem;
    text-decoration: none;

    color: $black;

    &:hover {
        color: $red;
        text-decoration: underline;

    }
}
