<footer class="footer">
    <div class="container">
        <div class="footer__info">

            <div class="footer__data">Адрес и контактные данные:
                <div class="footer__adres">
                    220024 | Минский район, Сеницкий с/с, п/у Колядичи, ул. Бабушкина 94, кабинет 8.
                </div>

                <a class="footer__numbers" href="tel:+375296196661">A1 +375(29)619-66-61</a>
                <a class="footer__numbers" href="tel:+375296197578">+375(29)619-75-78</a>
                <hr>
                <div class="footer__info--text"> 
                    ООО"БелАведон" | 2020 Все права защищены.
                </div>
                <div class="creator"> 
                    Разработка сайта:   
                    <a class="creator__info" href="mailto:sema.gusevv@gmail.com">  sema.gusevv@gmail.com</a>
                </div>
            </div>
    </div>

</footer> 