<meta charset="UTF-8">
<html lang="ru-RU">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Useful meta tags -->
<meta name="title" Бытовая химия купить в Минске оптом с доставкой - belavedon >
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="robots" content="index, follow, max-snipped:-1,">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="бытовая химия, бытовой опт химия, химия магазин, паста для рук, крем для рук Eilfix, паста для рук Eilfix, перчатки трикотажные без покрытия, трикотажные с покрытием, двойной облив, нейлон с покрытием, перчатки спилковые пятипалые, перчатки для сварки, паста для рук PINGO, протирочные полотенца, СТО, средство для бесконтактной мойки">
<meta name="description" content="Покупка перчатки, бытовой химии Becker Chemie, PINGO. Бесплатная доставка по Минску и пригороду. Гарантируем высокое качество и наличие на складе!">

<!--./Favicons-->
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicons//site.webmanifest">
<link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>{{ title }}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
